.header {
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: right;
  position: relative;
  z-index: 0;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__image {
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
  position: absolute;
  z-index: -1;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin: 183px 0 0;
}

.header__title-span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}
.header__footer {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
}

.header__footer-paragraph {
  font-weight: 500;
  line-height: 20px;
  color: #838383;
  margin: 0;
}
