.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  color: #fff;
  padding: 100px 80px 215px;
  max-height: 800px;
  position: relative;
  z-index: 0;
  background-position: center;
}

.recipes__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin: 0 0 24px 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
}

.recipes__videos_video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
